extends: default

rules:
  line-length: disable
  document-start: disable
  comments:
    min-spaces-from-content: 1
  truthy:
    check-keys: false # allow GitHub Actions `on:`

ignore: |
  openspec/
